<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Sharing Platform</title>
  <link rel="stylesheet"href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<style>
  .background{
    background:  url('{{url_for('static',filename='img/index.avif')}}') no-repeat center center/cover;
  }
</style>
</head>
<body>
  <div class="background">
    <!-- Navbar -->
    <nav class="navbar">
      <h1 class="logo">Tasty Recipes</h1>
      <ul>
        <li><a href="/discover">Discover</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/feedback">Feedback</a></li>
        <li><a href="/login">Login/Register</a></li>
    </ul>
    </nav>
    <!-- Hero Section -->
    <div class="hero">
      <h2>Welcome to Tasty Recipes</h2>
      <p>Share your culinary creations and discover new flavors from around the world.</p>
      <div class="buttons">
        <a href="/login" class="btn primary" >Get Started</a>
        <a href="#" class="btn secondary">Explore Recipes</a>
      </div>
    </div>
  </div>
</body>
</html>
